* {
  font-family: arial, sans-serif;
  margin: 0;
}

body,
body > div {
  height: 90vh;
  background-color: rebeccapurple;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  display: flex;
  background-color: chocolate;
  margin-bottom: 3px;
}

.nav-link {
  background-color: limegreen;
  padding: 5px;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  background-color: coral;
}

.red {
  background-color: #b05f6d;
  color: white;
}

.blue {
  background-color: #275db3;
  color: white;
}

.round-boi {
  background-color: goldenrod;
  border-radius: 50%;
}

.tri-boi {
  margin: 100px;
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}